!!!
%html
  %head
    %meta{:charset => "utf-8"}
      / Always force latest IE rendering engine or request Chrome Frame
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        / Use title if it's in the page YAML frontmatter
        %title= data.page.title || "Triage Documentation"
        = stylesheet_link_tag "common", "bootstrap.min", "bootstrap-responsive.min"
        = javascript_include_tag "all"
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
  %body{ data: { spy: 'scroll', target: '.navbar' } }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Triage", "/", class: 'brand'
    .container-fluid
      .row-fluid
        .span8.offset2
          = yield
