---
title: "Triage: Incredible Support Software"
---
// Fork me banner
= link_to 'https://github.com/jmacdonald/triage', class: 'forkme' do
  = image_tag '/images/forkme.png'

.header
  .container
    .row
      .span5.right
        %img{ src: '../images/logo.png' }
      .span7
        %h1 Triage
        %p
          Incredible support software that's a joy to use.
        %p
          %a{ href: "https://github.com/jmacdonald/triage/archive/v1.0-b1.zip", class: 'btn btn-info' }
            %i.icon-download.icon-white
            Download Triage
            %small
              (v1.0-beta1)
        %ul.index_navigation
          %li
            = link_to "GitHub Project", "https://github.com/jmacdonald/triage"
          %li
            = link_to "Documentation", "/docs/installation"
    .row.center.overview
      .span10.offset1
        Triage is a web application for managing requests. It's ideally suited for technical teams supporting software systems, but it's equally useful in a variety of other disciplines. Triage is different from other solutions; it provides an amazing customer-centric experience that's extremely easy to use.
    .center.divider
      %img{ src: '../images/divider.png' }
.container.page
  .row
    .span10.offset1
      .row.center
        .span10
          %h1
            Why It's Great
        .span8.offset1
          %hr
      .row.feature
        .span10
          = image_tag "conversation.png"
          %h3 Conversation-Driven Workflow

          Comments are an integral part of every request. It's usually the case that the initial request doesn't have enough detail. Comments allow the conversation to continue, while keeping all of the information where it belongs: with the original request.

      .row.feature
        .span10
          = image_tag "notification.png", class: 'img-polaroid'
          %h3 Notifications

          Comments, re-assignments, and status changes; users are kept up to date on a regular basis without being inundated with emails. Triage intelligently notifies users when important events occur that relate to them and their requests.

      .row.feature
        .span10
          = image_tag "mention.png"
          %h3 Twitter-Style Mentions

          Responding to a request and need to pull someone else in on the conversation? Mentions allow you to reference other users, bringing their attention to the request. They're ideal for leveraging expertise that might not be directly involved.

      .row.feature
        .span10
          = image_tag "assignment.png", class: 'img-polaroid'
          %h3 Auto Assignment

          Users can be associated with systems for which they're responsible and Triage will automatically assign them new requests. If more than one user is responsible for a particular system, requests will be distributed evenly. You can even set users as "unavailable" and they won't be assigned requests; a perfect solution for vacations or sick leave.

      .row.feature
        .span10
          = image_tag "attachments.png"
          %h3 Attachments

          Sometimes words just aren't enough. Images, spreadsheets and screenshots are but a few of the additional types of content that can make a request so much easier to fulfill. Triage supports attachments of any kind, right out of the box.

      .row.feature
        .span10
          = image_tag "ldap.png", class: 'img-polaroid'
          %h3 Directory Service Support

          Triage can easily integrate with your existing directory server to facilitate centralized management of passwords. Users can sign on with the same credentials as any other system setup with your directory server, making remembering varying passwords a thing of the past.

      .row.feature
        .span10
          = image_tag "ui.png", class: 'img-polaroid', style: 'padding: 0px;'
          %h3 Beautiful User Interface

          Form follows function, so they say. Triage's user interface was built with both in mind, blending aesthetically pleasing design with a streamlined workflow. It's been designed with the ambitious goal of becoming a tool that you (and your clients) will actually <em>look forward</em> to using.

      .row.feature
        .span10
          = image_tag "testing.png", class: 'img-polaroid'
          %h3 Thorough Testing

          There are <em>hundreds</em> of tests that make up Triage's test suite, and they're run every time a change is made to the project. This process makes Triage considerably more stable and prevents new features from breaking existing functionality.

      .row.conclusion
        .span10.center
          %h2
            Convinced?
            %a{ href: "https://github.com/jmacdonald/triage/archive/v1.0-b1.zip"}
              Download
            and
            %a{ href: "/docs/installation" }
              install
            Triage!

      .row.footer
        .span10.center
          %hr
          .right
            %small
              &copy; 2013 Jordan MacDonald
